{% load static %}
<script src="{% static 'javascript/navegation.js' %}"></script>
<script src="{% static 'javascript/search.js' %}"></script>

<link rel="stylesheet" href="{% static 'stylesheet/kutiva/navegation.css' %}">

{% load static %}


<nav class="desktop-menu">
    <h1><a href="{% url 'index' %}"> <img src="{% static 'images/logo2.png' %}" alt="kutiva logo"></a></h1>
    {% include "kutiva/layout/navegation/search.html" %}

    {% if user.is_authenticated %}
        <ul>

                <div class="dropdown">
            <li class="radius" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                {{ user.first_name|capfirst|make_list|first }}
            </li>

            </li>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>

            </div>
            </div>


        </ul>





        </ul>

    {% else %}

        <ul>


            <li data-toggle="modal" data-target="#exampleModalCenter" class="nav-item link-button">Entrar</li>

            <li class="nav-item link-button"><a class="unstyledLink link-button" href="{% url 'student_sigin' %}">criar
                conta</a></li>


        </ul>
    {% endif %}


</nav>


<nav class="mobile-menu">

    {% if user.is_authenticated %}
        {% include "kutiva/layout/navegation/mobile-search.html" %}

    {% else %}
        <h1>
            <a class="" href="{% url 'index' %}">
                <img src="{% static 'images/logo2.png' %}" alt="kutiva logo">
            </a>
        </h1>


        <ul>
            <li><a href="{% url 'signin' %}">Entrar</a></li>
            <li><a href="{% url 'student_sigin' %}">Criar conta</a></li>


        </ul>


    {% endif %}


</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <form action="{% url 'signin' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" name="username" id="exampleInputEmail1"
                               aria-describedby="emailHelp" placeholder="Enter email">

                    </div>
                    {% for message in messages %}
                        <p class="error text-center"> {{ message }}</p>
                    {% endfor %}
                    <div class="form-group">
                        <label for="exampleInputPassword1">Senha</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="password"
                               placeholder="Senha">
                    </div>
                    <p><a href="{% url 'password_reset' %}" class="text-primary">Esqueceu a senha?</a></p>
                    <button type="submit" class="btn btn-primary">Entrar</button>
                    <div class="form-check">
                        <!--<input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>-->                  </div>
                    <p class="text-center"> Não tem uma conta?<a href="{% url 'student_sigin' %}" class="text-primary">
                        Crie
                        uma conta em
                        segundos</a></p>

                </form>


            </div>
        </div>
    </div>
</div>
