{% load static %}
<script src="{% static 'javascript/search.js' %}"></script>

<form action="" class="search-desktop">
       <input type="search" name="search" id="mobile-search" placeholder="pesquisar cursos"  />
       <ul class="list-group" id="mobile-result"></ul>
</form>

