{% extends "kutiva/layout/base.html" %}
{% load static %}

{% comment %}

{% endcomment %}
{% load static %}

{# overide the tile of the page #}
{% block title %}
    <title>kutiva</title>
{% endblock %}

{% block styles %}
    {#    only include css  files needed for thi page bootstap and other libs are add in base template #}

    <meta charset="utf-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" , content="IE=edge">
    <meta name="viewport" , content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'stylesheet/kutiva/main.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet/kutiva/footer.css' %}">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140073016-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-140073016-1');
    </script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}


{% block scripts %}
    {#    only include css  files needed for thi page bootstap and other libs are add in base template #}

{% endblock %}


{% block content %}


    <main>
        {% include "kutiva/layout/navegation/navegation.html" %}

        <header class="hero hero--header ">
            <div class="container header">
                <div class="row">
                    <h1 class="heading">Criador da Semana</h1>

                    <div class="col-md-6">

                        <img class="week-creator-images"
                             src="https://miro.medium.com/max/3150/1*ACFnEOpnMb5-UD6ZRzEoRw.jpeg" alt="">


                    </div>
                    <div class="col-md-6">

                        <h2 class="heading"><a href="https://uboisse/josesmachava">José Machava</a></h2>
                        <p class="heading-description">youtuber, developer</p>
                        <ul class="social-media-creator">
                            <li><a href="https://twitter.com/josesmachava" target="_blank"><i
                                    class="fab fa-twitter"></i></a></li>
                            <li><a href="https://" target="_blank"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="https://medium.com/@josesmachava" target="_blank"><i class="fab fa-medium"></i></a>
                            </li>
                            <li><a href="https://github.com/josesmachava" target="_blank"><i class="fab fa-github"></i></a>
                            </li>

                        </ul>
                    </div>

                </div>

            </div>


        </header>


        <div class="container">
            <div class="row">
                <h1 class="heading">O que é boisse?</h1>

                <p class="heading-description">No boisse, você pode permitir que seus criadores de conteudo favoritos
                    continue
                    fazendo o seu melhor trabalho garantido uma estabilidade
                    necessária para construir uma carreira criativa independente.</p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <h2 class="heading">Os seus criadores favoritos</h2>

                <div class="col-md-6">
                    <div class="creator">
                        <div class="row">
                        <div class="col-md-3">
                            <img class="creator-images"
                                 src="https://miro.medium.com/max/3150/1*ACFnEOpnMb5-UD6ZRzEoRw.jpeg"
                                 alt="">

                        </div>
                        <div class="col-md-9">
                                              <p class="creator-name"><a href="https://uboisse.com/josemachava">José Machava</a></p>

                            <p>youtuber, developer</p>
                            <ul class="social-media-creator">
                                <li><a href="https://twitter.com/josesmachava" target="_blank"><i
                                        class="fab fa-twitter"></i></a></li>
                                <li><a href="https://" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="https://medium.com/@josesmachava" target="_blank"><i
                                        class="fab fa-medium"></i></a></li>
                                <li><a href="https://github.com/josesmachava" target="_blank"><i
                                        class="fab fa-github"></i></a></li>

                            </ul>
                        </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


        </div>

        <div class="container">
            <h2 class="heading">Para quem é boisse?</h2>

            <div class="row">

                <div class="col-md-6">
                    <ul class="heading-description">

                        <li>
                            Podcasters
                        </li>
                        <li>Criadores de vídeo</li>
                        <li>Músicos</li>
                        <li>Artistas visuais</li>
                        <li>Comunidades</li>

                    </ul>


                </div>

                <div class="col-md-6">
                    <ul class="heading-description">


                        <li> Escritores e Jornalistas</li>
                        <li>Criadores de jogos</li>
                        <li> Organizações sem fins lucrativos</li>
                        <li> Tutoriais e Educação</li>
                        <li>Criadores de todos os tipos</li>

                    </ul>


                </div>

            </div>
        </div>

        <div class="container">
            <h2 class="heading">Como funciona o boisse</h2>
            <p class="heading-description">Selecione o seu criador favorito e torne-se um boisse</p>


        </div>
    </main>
    {% include "kutiva/layout/footer.html" %}


{% endblock %}

