{% extends "kutiva/layout/base.html" %}
{% load static %}

{% comment %}

{% endcomment %}
{% load static %}

{# overide the tile of the page #}
{% block title %}
    <title>kutiva</title>
{% endblock %}

{% block styles %}
    {#    only include css  files needed for thi page bootstap and other libs are add in base template #}

    <meta charset="utf-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" , content="IE=edge">
    <meta name="viewport" , content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'stylesheet/kutiva/main.css' %}">
        <link rel="stylesheet" href="{% static 'stylesheet/account/perfil.css' %}">

    <link rel="stylesheet" href="{% static 'stylesheet/kutiva/footer.css' %}">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140073016-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-140073016-1');
    </script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}


{% block scripts %}
    {#    only include css  files needed for thi page bootstap and other libs are add in base template #}

{% endblock %}


{% block content %}

    <main class="thanks">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="thanks-info">
                        <h1 class="text-center">Obrigado</h1>
                        <p class="text-center">Por permitir que os seus criadores de conteúdo favoritos continue fazendo o seu melhor trabalho garantido uma estabilidade necessária para construir uma carreira criativa independente.</p>
                                                       <button class="primary-button"><a href="{% url "index" %}">Voltar</a</button>

                    </div>
                </div>
            </div>
        </div>

    </main>


{% endblock %}

