{% extends "kutiva/layout/base.html" %}
{% load static %}

{% comment %}

{% endcomment %}
{% load static %}
{% load crispy_forms_tags %}
{# overide the tile of the page #}
{% block title %}
    <title>kutiva</title>
{% endblock %}


{% block styles %}
    {#    only include css  files needed for thi page bootstap and other libs are add in base template #}

    <meta charset="utf-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" , content="IE=edge">
    <meta name="viewport" , content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'stylesheet/kutiva/main.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet/account/perfil.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet/kutiva/footer.css' %}">

    <style type="text/css">

    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140073016-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-140073016-1');
    </script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}


{% block scripts %}
    {#    only include css  files needed for thi page bootstap and other libs are add in base template #}

{% endblock %}


{% block content %}



    <main>
        <header class="perfil-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex justify-content-center">
                            <div>
                                <div class="radius-perfil">
                                    <!--             <h1 class="perfile-title"> {{ creator.first_name|capfirst|make_list|first }}</h1> -->
                                    <img class="radius-perfil"
                                         src="https://miro.medium.com/max/3150/1*ACFnEOpnMb5-UD6ZRzEoRw.jpeg"

                                </div>


                            </div>
                            <h2 class="perfil-subtitle">{{ creator.user.first_name|capfirst }}
                                {{ creator.user.last_name|capfirst }}</h2>

                            <p class="perfil-ocupation">{{ creator.description }}</p>

                        </div>
                    </div>

                </div>

            </div>


        </header>


        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card donate-information">


                        <section class="flex purchase">

                            <section class="">
                                <h4 class="text-center">Torne-se um boisse</h4>
                                            <p class="text-center">Permita que seus criadores de conteúdo favoritos continue fazendo o seu
                        melhor trabalho garantido uma estabilidade necessária para construir uma carreira criativa
                        independente.</p>
                                <form method="POST" class="">{% csrf_token %}
                                    <p class="label"><span>1</span>Quanto você gostaria de doar?</p>

                                    <ul>


                                        {% for donation in donation.price.all %}

                                            <li><input type="radio" id="{{ donation }}" name="price"

                                                       value="{{ donation.price }}">

                                            <label for="{{ donation }}">{{ donation.price }}
                                                MT {{ donation.name|capfirst }}</label><br>


                                        {% endfor %}
                                    </ul>
                                    <p class="label"><span>2</span> informação Pessoal</p>

                                    {{ form.name|as_crispy_field }}

                                    {{ form.número_de_telefone|as_crispy_field }}

                                    <button>Completar doação</button>
                                </form>
                            </section>


                        </section>

                    </div>



                </div>

            </div>
        </div>
    </main>


{% endblock %}

