{% extends "kutiva/layout/base.html" %}
{% load static %}

{% comment %}

{% endcomment %}
{% load static %}

{# overide the tile of the page #}
{% block title %}
    <title>kutiva</title>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'stylesheet/kutiva/navegation.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet/kutiva/main.css' %}">


    <link rel="stylesheet" href="{% static 'stylesheet/account/signin.css' %}">
{% endblock %}



{% block content %}
    <main>
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center sign ">


                <form action="signin" method="post">
                    <h1 class="text-center">uboisse</h1>
                    <!-- <p class="text-center">Crie habilidades para hoje, amanhã e além.
 Educação para preparar sua carreira para o futuro.</p>-->
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" placeholder="E-mail" name="username">

                    </div>
                    {% for message in messages %}
                        <p class="error text-center"> {{ message }}</p>
                    {% endfor %}
                    <div class="form-group">
                        <label for="exampleInputPassword1">Senha</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha"
                               name="password">


                    </div>
                    <p class="text-center"><a class="unstyledLink link-button" href="{% url 'student_sigin' %}">ou criar
                        conta</a></p>

                    <input type="submit" name="hello" class="btn btn-primary" value="Entrar">


                    <p class="text-center"><a href="{% url 'password_reset' %}" class="unstyledLink link-button">Esqueceu
                        a senha?</a></p>

                </form>

            </div>
        </div>


    </main>



{% endblock %}

