{% extends "kutiva/layout/base.html" %}
{% load static %}

{% comment %}

{% endcomment %}
{% load static %}
{% load crispy_forms_tags %}


{# overide the tile of the page #}
{% block title %}
<title>Price</title>
{% endblock %}

{% block styles %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}

<meta charset="utf-8">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible", content="IE=edge">
<meta name="viewport", content="width=device-width, initial-scale=1">
<link rel="stylesheet"  href="{% static 'stylesheet/kutiva/library/malangatana.css' %}">
<link rel="stylesheet" href="{% static 'stylesheet/account/signin.css' %}">


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}


{% block scripts %}
{#    only include css  files needed for thi page bootstap and other libs are add in base template #}

{% endblock %}


{% block content %}

<main>
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center sign">



                <form    method="post"  novalidate >

                      <h1 class="text-center">uboisse</h1>
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">

                    <div class="row">
                        <div class="col-md-6">
                            {{ form.first_name|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.last_name|as_crispy_field }}
                        </div>
                    </div>

<div class="row">
                   <div class="col-md-12">
                    {{ form.email|as_crispy_field }} 
             </div>

</div>

                    <div class="row">
                            <div class="col-md-6">
                              {{ form.password1|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                              {{ form.password2|as_crispy_field }}
                            </div>
                    </div>
                          
            
                                                <input type="submit" name="hello"  class="btn btn-primary" value="Criar conta">


                        <!--<p>Ao clicar em criar conta, você concorda com nossos Termos de Uso e nossa Política de Privacidade.</p>-->
                    <p class="text-center"><a href="{% url 'signin' %}">ou iniciar sessao</a></p>

                </form>
</div>
        </div>

  

</main>


{% endblock %}





