body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

main {
    flex: 1;
}
.social-media-creator li a{
    margin: 20px;

}

.social-media-creator {
    text-align: center;
    margin: 10px 0;

}
.creator{
    background: whitesmoke;
    padding: 10px;
    border-radius: 3px;
    margin: 21px 0;


}
.social-media-creator li{
    display: inline;
    text-transform: capitalize;

}


.week-creator-images{
    border-radius: 100%;
    width: 200px;
    margin: auto;
    display: block;
}
.hero--header {
    background: whitesmoke;

    position: relative;

}

.creator-images {
    width: 60px;
    margin: 0 30px;
    border-radius: 100%;
}

.heading {
    text-align: center;
    width: 100%;
    font-size: 30px;
}

.heading-description {
    text-align: center;
    margin: 40px 0;
}

@media (min-width: 1281px) {


}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {


}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {


}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .heading {
        text-align: center;
        width: 100%;
        font-size: 22px;
        margin-top: 30px;
    }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    .heading {
        text-align: center;
        width: 100%;
        font-size: 22px;
        margin-top: 30px;
    }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .heading {
        text-align: center;
        width: 100%;
        font-size: 22px;
        margin-top: 30px;
    }

    .creator-images {
        width: 115px;
        border-radius: 100%;
        margin: auto;
        display: block;
    }
    .week-creator-images{
    border-radius: 100%;
    width: 115px;
    margin: auto;
    display: block;
}

    .heading-description:first-letter {
        text-transform: capitalize;
    }

    .heading-description {
        font-size: 16px;
        margin: 5px 0;
        text-align: center;

        margin-bottom: 35px;
    }

}