nav {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 3px rgba(0, 0, 0, .1);
    background-color: #fff;

    z-index: 1;
    width: 100%;
    height: 52px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.modal-header form{
    width: 100%;
    padding: 35px;
}

.mobile-menu{
    display: none;
}

form button{
    width: 100%;
    font-size: 18px;
    margin-bottom: 20px;
}

.navagation-signin-form {
    padding: 40px;
}

nav > ul li {
    display: inline-block;
    margin: 0 20px;
}

nav img {
    width: 30px;
}

ul li {
    margin-left: 10px;
}

.user-photo {
    width: 30px;
    border-radius: 100%;
    display: block;
    margin: auto;
}

nav li span {
    font-size: 19px;
    display: block;
}

li a {
    text-align: center;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 52px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 3px rgba(0, 0, 0, .1);
    background-color: #fff;
}

.bg-light {
    background-color: white !important;
}



nav > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.radius {
    border-radius: 100%;
    height: 30px;
    background-color: whitesmoke;
    width: 30px;
    text-align: center;
}

input[type='search'] {
    width: 600px;
    height: 37px;
    background-color: #e9e9e9;
    padding-right: 0;
    border: none;
}

@media (min-width: 1281px) {


}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {


}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {


}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {


}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .desktop-menu {
        display: none;
    }

    nav ul {
        margin-top: -35px;
        margin-right: -165px;
        font-size: 18px;
        font-weight: 600;
        color: rgb(7, 71, 166);
    }

    nav ul li a {
        color: rgb(7, 71, 166);
    }

    .course {
        margin-top: 70px;
    }

    .mobile-menu {
        display: block;
    }

    input[type='search'] {
        height: 37px;
        border: solid 1px #e9e9e9;
        background: white;
        width: 95%;

    }

    h1 img {
        display: block;
        margin-top: 7px;

        margin-left: 9px;
    }

    .footer-mobile-navigation {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        background: whitesmoke;
        padding-top: 5px;
        height: 55px;
    }

    .footer-mobile-navigation li span {
        display: block;
        text-align: center;
        font-size: 20px;
    }

    .footer-mobile-navigation li img {
        display: block;
        border-radius: 100%;
        width: 30px;
        height: 30px;
    }


}

