{% extends "kutiva/layout/base.html" %}
{% load static %}

{% comment %}

{% endcomment %}
{% load static %}
{% load crispy_forms_tags %}

{# overide the tile of the page #}
{% block title %}
    <title>kutiva</title>
{% endblock %}

{% block styles %}
    {#    only include css  files needed for thi page bootstap and other libs are add in base template #}

    <meta charset="utf-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" , content="IE=edge">
    <meta name="viewport" , content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'stylesheet/account/perfil.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet/kutiva/footer.css' %}">
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({selector: 'textarea'});</script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140073016-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-140073016-1');
    </script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'stylesheet/dashboard/main.css' %}">

{% endblock %}


{% block scripts %}
    {#    only include css  files needed for thi page bootstap and other libs are add in base template #}

{% endblock %}


{% block content %}



    <div class="container">
        <div class="row">
            <div class="col-md-12">

                {% include "dashboard/layout/menu.html" %}

            </div>
            <div class="col-md-12">
                <form method="post">{% csrf_token %}

                    <input type="hidden" name="next" value="{{ next }}">

                    <div class="row">

                        <div class="col-md-7">
                            <div class="card card-box">
                                {{ form.name|as_crispy_field }}


                                {{ form.price|as_crispy_field }}
                            </div>
                        </div>


                        <div class="col-md-7">
                            <div class="card card-box">
                                {{ form.description|as_crispy_field }}
                            </div>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-success">Salvar</button>
                </form>

            </div>
        </div>
    </div>

{% endblock %}

