.card-box{
    margin: 20px 0;
    padding: 20px;
}

.perfil-current-picture{
    border-radius: 100%;
    width: 150px;
}
nav ul{
    margin:10px 0;
    padding: 0;
}
nav ul li a {
    margin: 0 20px;
    text-transform: capitalize;
}