<nav>
    <ul>
        <li><a href="{% url 'edit' request.user.id  %}">informação basica</a></li>
        <li><a href="{% url 'create-donation'   %}">Pacotes Boisse</a></li>

        <li><a href="">informação Pessoal</a></li>
    </ul>
</nav>