{% extends "kutiva/layout/base.html" %}
{% load static %}

{% comment %}

{% endcomment %}
{% load static %}

{# overide the tile of the page #}
{% block title %}
    <title>kutiva</title>
{% endblock %}

{% block styles %}
    {#    only include css  files needed for thi page bootstap and other libs are add in base template #}
    <link rel="stylesheet" href="{% static 'stylesheet/kutiva/main.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheet/kutiva/footer.css' %}">



    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
{% endblock %}


{% block scripts %}
    {#    only include css  files needed for thi page bootstap and other libs are add in base template #}

{% endblock %}


{% block content %}
    {% include "kutiva/layout/navegation/navegation.html" %}


    <div class="container">
        Hi {{ user.first_name }} {{ user.last_name }}

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <h1>30</h1>
                        <p>Boisses</p>
                        <a href="">ver todos os seu boissies</a>
                    </div>
                    <div class="col-md-6">
                        <h1>MTN 0</h1>
                        <p>por mes</p>

                        <a href="">ver todas as doacoes</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <h1>Levantar dinheiro</h1>

                <form action="">

                    <input type="text">
                    <button>Levantar</button>
                    <p>POdemos levar entre 4 5 dias para processar o sue dinheiro</p>
                </form>
            </div>


            <h2>Doencoes recentes</h2>


        </div>
    </div>




{% endblock %}

