.community-header {

    padding-top: 100px;
    height: 250px;
    color: white;
    margin-bottom: 50px;
    background-image: url("../../images/account.0d2a352f8bd4.png");

}

p span {
    padding: 10px;

    font-size: 21px;
}

main {
    background: #faf9f7;
}

.post {
    margin: 5px 0px;
}

.post-user-perfil-photo {

    border-radius: 100%;
    height: 35px;

}
.post ul{
    display: inline-flex;
}
.post ul li{

    text-transform: lowercase;

}



@media (min-width: 1281px) {


}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {


}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {


}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {


}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .community-header {
        height: auto;
    }

}