.perfil-header {


    height: 300px;
    background-image: url("../../images/account.0d2a352f8bd4.png");
    position: relative;
    color: white;
}

.desktop-menu {
    display: none;
}

.perfil-subtitle {
    font-size: 18px;
    color: black;
}

main {
    background: white;
}
.primary-button{
      margin: 0 auto;
    width: 230px;
    display: block;
    height: 40px;
    border: none;
    background-color:#37b549;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

}

form button {

    margin: 0 auto;
    width: 230px;
    display: block;
    height: 40px;
    border: none;
    background-color:#37b549;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.edit-perfil {
    margin-top: 80px;
    margin-bottom: 50px;
    padding: 50px;
    background: white;
}

.perfil-header p {
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    color: whitesmoke;
}

.perfil-information ul li span {
    font-size: 22px;
    padding: 10px;
}

.perfil-subtitle {
    font-size: 22px;
}

.perfil-information {
    margin-top: -150px;
    height: 300px;
    padding: 50px;
}

.text-center {
    text-align: center;
}

.label {
    font-size: 15px;
}

p span {


    height: 20px;
    width: 20px;
    background: #37b549;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    margin-right: 10px;
    color: white;


}

ul li {
    display: inline-flex;
}

.radius-perfil {
    color: #1f1f1f;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background: whitesmoke;
    display: block;
    margin: 0 auto;
    text-align: center;

    margin-top: 235px;

}

a {
    color: white;
}

a:hover {
    color: white;
}

button {
    margin-top: 30px;
}

.info {
    font-size: 12px;
    color: gray;
}
.thanks{
    background: whitesmoke;
}
.thanks-info{
    width: 705px;
    margin: 0 auto;
    margin-top: 0px;
    margin-top: 125px;
    background: white;
    padding: 30px 30px;
    height: 345px;


}
.donate-information {

    width: 550px;
    margin: 140px auto;
    padding: 30px;

}
.perfil-ocupation{
    color: black !important;
}

@media (min-width: 1281px) {


}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {


}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {


}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .mobile-menu {
        display: none;
    }

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .mobile-menu {

        display: none;
    }

    .donate-information {
        width: auto;
    }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .radius-perfil {
        margin-top: 85px;
        width: 100px;
        height: 100px;
    }

    .perfil-subtitle {

        font-size: 18px;

    }
        .thanks-info{
            width: auto;
        }
    ul {
        padding: 0;
        margin: 0;
    }

    ul li {
        padding: 0;
        margin: 0;
        display: block;
    }

    .donate-information {
        margin-top: 100px;
    }

    .mobile-menu {

        display: none;
    }

    .perfil-information ul li {
        font-size: 15px;
    }

    .perfil-information {
        margin-top: -140px;
        height: 250px;
        padding: 0px;
    }

    .perfil-information ul li span {
        font-size: 18px;
        padding: 5px;
    }

    .donate-information {
        width: auto;
    }

    .perfil-header {
        height: 150px;
        background-image: url("../../images/account.0d2a352f8bd4.png");
        position: relative;
        color: white;
    }

}